{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5 mb-3">Page d'acceuil!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consectetur, ut repudiandae quod quae obcaecati, eos nisi, impedit autem ipsum hic. Corporis similique quia fugit quisquam, odit sed nihil pariatur.</p>
</div>
{% endblock %}