{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
<div class="container">

    
    <a href="{{ path('ticket_show') }}" class="btn btn-outline-dark">Retourner au ticket</a>
</div>
{% endblock %}
